<a href="https://colab.research.google.com/github/remi3333/DSPR_Research_Wildlife/blob/main/Copy_of_WildlifeResearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
url = '/2018_Central_Park_Squirrel_Census_-_Squirrel_Data_20250721 (1).csv'
squirrel_df = pd.read_csv(url)
squirrel_df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [ ]:
#Exploring data
squirrel_df.info()

'''
columns with MANY  null values:
Color Notes 182 non-null, Specific Location 476 non-null,
Other activities 437 non null, Other Interactions 437 non-null,

columns with few null values:
Age 2902 non-null, Primary Fur Color 2968 non-null, Highlight Fur Color 1937 non-null,
Location 2959 non-null, Above Ground Sighter Measurement 2909 non-null

'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(14)
memory usage: 463.6+ KB

'\ncolumns with MANY  null values:\nColor Notes 182 non-null, Specific Location 476 non-null,\nOther activities 437 non null, Other Interactions 437 non-null,\n\ncolumns with few null values:\nAge 2902 non-null, Primary Fur Color 2968 non-null, Highlight Fur Color 1937 non-null,\nLocation 2959 non-null, Above Ground Sighter Measurement 2909 non-null\n\n'

In [ ]:
squirrel_df.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

In [ ]:
#Dropping columns with exessive null values to clean the data
cleaned_squirrel_df = squirrel_df.drop(columns=['Color notes', 'Specific Location', 'Other Activities', 'Other Interactions'])
cleaned_squirrel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 27 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Location                                    2959 non-null   object
 12  Above Ground Sighter Measurement            2909 non-null   object
 13  Running                                     3023 non-null   bool
 14  Chasing                                     3023 non-null   bool
 15  Climbing                                    3023 non-null   bool
 16  Eating                                      3023 non-null   bool
 17  Foraging                                    3023 non-null   bool
 18  Kuks                                        3023 non-null   bool
 19  Quaas                                       3023 non-null   bool
 20  Moans                                       3023 non-null   bool
 21  Tail flags                                  3023 non-null   bool
 22  Tail twitches                               3023 non-null   bool
 23  Approaches                                  3023 non-null   bool
 24  Indifferent                                 3023 non-null   bool
 25  Runs from                                   3023 non-null   bool
 26  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(10)
memory usage: 369.1+ KB

In [ ]:
#EXPLORING COLUMNS WITH MOST DATA NON-NULL
cleaned_squirrel_df['Age'].value_counts()

Age
Adult       2568
Juvenile     330
?              4
Name: count, dtype: int64

In [ ]:
cleaned_squirrel_df['Highlight Fur Color'].value_counts()

Highlight Fur Color
Cinnamon                  767
White                     585
Cinnamon, White           268
Gray                      170
Gray, White                59
Black                      34
Black, Cinnamon, White     32
Black, White               10
Black, Cinnamon             9
Gray, Black                 3
Name: count, dtype: int64

In [ ]:
cleaned_squirrel_df['Primary Fur Color'].value_counts()

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

In [ ]:
cleaned_squirrel_df['Above Ground Sighter Measurement'].unique()

array([nan, '10', 'FALSE', '30', '6', '24', '8', '25', '5', '50', '4',
       '3', '70', '12', '2', '20', '7', '13', '15', '28', '35', '100',
       '1', '80', '65', '40', '18', '17', '55', '60', '180', '9', '45',
       '0', '43', '16', '33', '11', '23', '31', '14', '19'], dtype=object)

In [ ]:
cleaned_squirrel_df['Location'].value_counts()

Location
Ground Plane    2116
Above Ground     843
Name: count, dtype: int64

In [ ]:
cleaned_squirrel_df['Age'] = cleaned_squirrel_df['Age'].fillna(value ='Unknown')
cleaned_squirrel_df['Highlight Fur Color'] = cleaned_squirrel_df['Highlight Fur Color'].fillna(value ='Unknown')
cleaned_squirrel_df['Primary Fur Color'] = cleaned_squirrel_df['Primary Fur Color'].fillna(value ='Unknown')
cleaned_squirrel_df['Above Ground Sighter Measurement'] = cleaned_squirrel_df['Above Ground Sighter Measurement'].fillna(value ='Unknown')
cleaned_squirrel_df['Location'] = cleaned_squirrel_df['Location'].fillna(value ='Unknown')
cleaned_squirrel_df

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,Unknown,Unknown,Unknown,...,False,False,False,False,False,False,False,False,False,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,Unknown,Unknown,Unknown,...,False,False,False,False,False,False,False,False,False,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,Unknown,Gray,Unknown,...,False,False,False,False,False,False,False,False,False,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,Unknown,...,True,False,False,False,False,False,False,False,True,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,True,False,False,False,False,False,False,False,False,POINT (-73.9702676472613 40.7762126854894)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,Unknown,...,True,False,False,False,False,False,False,False,True,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,True,False,False,False,False,False,False,True,False,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,True,False,False,False,False,False,False,True,False,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,Unknown,Gray,"Cinnamon, White",...,False,False,False,False,False,False,False,True,False,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,True,False,False,False,False,False,True,False,False,POINT (-73.9754794191553 40.7696404489025)

In [ ]:
cleaned_squirrel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 27 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         3023 non-null   object
 8   Primary Fur Color                           3023 non-null   object
 9   Highlight Fur Color                         3023 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Location                                    3023 non-null   object
 12  Above Ground Sighter Measurement            3023 non-null   object
 13  Running                                     3023 non-null   bool
 14  Chasing                                     3023 non-null   bool
 15  Climbing                                    3023 non-null   bool
 16  Eating                                      3023 non-null   bool
 17  Foraging                                    3023 non-null   bool
 18  Kuks                                        3023 non-null   bool
 19  Quaas                                       3023 non-null   bool
 20  Moans                                       3023 non-null   bool
 21  Tail flags                                  3023 non-null   bool
 22  Tail twitches                               3023 non-null   bool
 23  Approaches                                  3023 non-null   bool
 24  Indifferent                                 3023 non-null   bool
 25  Runs from                                   3023 non-null   bool
 26  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(10)
memory usage: 369.1+ KB

In [ ]:
cleaned_squirrel_df.shape

(3023, 27)

In [ ]:
#Do squirrels in different spacial areas whithin the park exhibit different behaviors?
cleaned_squirrel_df.groupby(by='Hectare').count()
#Group the Hectare columns futher
cleaned_squirrel_df.groupby(by=['Hectare', 'Age']).count()

                   X   Y  Unique Squirrel ID  Shift  Date  \
Hectare Age
01A     Adult     10  10                  10     10    10
        Juvenile   1   1                   1      1     1
01B     Adult     21  21                  21     21    21
        Juvenile   4   4                   4      4     4
        Unknown    2   2                   2      2     2
...               ..  ..                 ...    ...   ...
42F     Unknown    2   2                   2      2     2
42G     Adult      6   6                   6      6     6
42H     Adult      7   7                   7      7     7
42I     Adult      2   2                   2      2     2
        Unknown    1   1                   1      1     1

                  Hectare Squirrel Number  Primary Fur Color  \
Hectare Age
01A     Adult                          10                 10
        Juvenile                        1                  1
01B     Adult                          21                 21
        Juvenile                        4                  4
        Unknown                         2                  2
...                                   ...                ...
42F     Unknown                         2                  2
42G     Adult                           6                  6
42H     Adult                           7                  7
42I     Adult                           2                  2
        Unknown                         1                  1

                  Highlight Fur Color  \
Hectare Age
01A     Adult                      10
        Juvenile                    1
01B     Adult                      21
        Juvenile                    4
        Unknown                     2
...                               ...
42F     Unknown                     2
42G     Adult                       6
42H     Adult                       7
42I     Adult                       2
        Unknown                     1

                  Combination of Primary and Highlight Color  Location  ...  \
Hectare Age                                                             ...
01A     Adult                                             10        10  ...
        Juvenile                                           1         1  ...
01B     Adult                                             21        21  ...
        Juvenile                                           4         4  ...
        Unknown                                            2         2  ...
...                                                      ...       ...  ...
42F     Unknown                                            2         2  ...
42G     Adult                                              6         6  ...
42H     Adult                                              7         7  ...
42I     Adult                                              2         2  ...
        Unknown                                            1         1  ...

                  Foraging  Kuks  Quaas  Moans  Tail flags  Tail twitches  \
Hectare Age
01A     Adult           10    10     10     10          10             10
        Juvenile         1     1      1      1           1              1
01B     Adult           21    21     21     21          21             21
        Juvenile         4     4      4      4           4              4
        Unknown          2     2      2      2           2              2
...                    ...   ...    ...    ...         ...            ...
42F     Unknown          2     2      2      2           2              2
42G     Adult            6     6      6      6           6              6
42H     Adult            7     7      7      7           7              7
42I     Adult            2     2      2      2           2              2
        Unknown          1     1      1      1           1              1

                  Approaches  Indifferent  Runs from  Lat/Long
Hectare Age
01A     Adult             10           10         10        10
        Juvenile           1            1          1         1
01B     Adult             21           21         21        21
        Juvenile           4            4          4         4
        Unknown            2            2          2         2
...                      ...          ...        ...       ...
42F     Unknown            2            2          2         2
42G     Adult              6            6          6         6
42H     Adult              7            7          7         7
42I     Adult              2            2          2         2
        Unknown            1            1          1         1

[551 rows x 25 columns]